<launch>
  
  <arg name="namespace" default="friends_hexa"/>

  <group ns="$(arg namespace)">
    <!-- Start GPS converter -->
    <node name="set_gps_reference_node_telem" pkg="geodetic_utils" type="set_gps_reference_node_telem" clear_params="true" output="screen" args="5">
      <remap from="telem" to="/telem"/>
    </node> 


    <node name="waypoint_navigator_node" pkg="waypoint_navigator" type="waypoint_navigator_node"  respawn="true" clear_params="true" output="screen">
      <rosparam file="$(find waypoint_navigator)/paths/trajectory_simple_enu.yaml"/>
      <remap from="telem" to="/telem"/>
    </node>    
  </group>
  
</launch>
